@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



body {
  position: absolute;
  background: #ffffff;
  width: 100%;
  font-family: Roboto, Helvetica, sans-serif;
}

header {
  background-color: #c4c4c4;
  position: initial;
  width: 100%;
  height: 65.41px;
  left: 0px;
  top: 0px;
  
 
}

header img {
  height: 66px;
  margin-top: 0px;
  width: 200px;
}

img {
  width: 120px;
  height: 175px;
  float: left;
  margin-top: -22px;
  padding: 0px 50px;
}

a {
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.nav img {
  height: 60px;
  width:70px;
  padding-left: 120px;
}

.nav a {
  float: right;
  
}

.navtext {
  padding-right: 10px;
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 10px;
}

.navtext:hover {
  color: rgba(10, 89, 207, 0.68);
  margin-top: 2px;
}



.middle {
  background-color: rgba(68, 82, 207, 0.13);
  line-height: 5px;
  padding: 20px;
  margin: 30px;
  border-radius: 16px;
  width: 60%;
  height: 130px;
}

form {
  background-color: rgba(196, 196, 196, 0.3);
  padding: 20px;
  margin: 30px;
  border-radius: 16px;
  width: 60%;
}

label {
  padding: 0px 10px 0px 10px;



}

select {
  width: 200px;
  height: 20px;
  margin: 10px 80px 5px 2px;
  display: inline-flex;


}

textarea {
  width: 230px;
  height: 400px;
  margin: 10px 20px 5px 120px;
  display: inline-flex;


}

.vl {
  border-left: 1px solid black;
  height: 800px;
  position: absolute;
  left: 70%;
  margin-left: -3px;
  top: 75px;
}

.username {
  padding-right: 120px;
}
  
